@font-face {
    font-family: 'Clarendon';
    src: url('ClarendonBT-Bold.woff2') format('woff2'),
        url('ClarendonBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

